<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <title>Ad View</title>
</head>

<body>
    <div class="container" dir="rtl">
        <div class="card mt-5 mx-4">
            <div class="card-body">
                <h5 class="card-title" 
                    style="text-align: center" >
                        {{ ad.title }}
                </h5>
            </div>
        </div>
    </div>
</body>

</html>